@model IEnumerable<Aluno>

<div class="py-5">
    <div class="container">

        <div class="text-center mb-5">
            <a class="btn btn-success" asp-action="Cadastrar" asp-controller="Aluno">Cadastrar Aluno</a>
        </div>

        <div class="row row-cols-1 row-cols-sm-2  row-cols-md-3 g-0">

            @if (Model != null)
            {
                @if (Model.Count() > 0)
                {
                    @foreach (var aluno in Model)
                    {

                        <div class="card mx-3 my-3 p-2" style="width: 12rem">
                            <div class="card-body">
                                <h5 class="card-title">@aluno.Nome</h5>
                            </div>

                            <div class="card-body">
                                <a class="btn btn-warning w-100" asp-action="Editar" asp-controller="Aluno" asp-route-id="@aluno.Id">Editar</a>
                                <a class="btn btn-danger w-100" asp-action="Remover" asp-controller="Aluno" asp-route-id="@aluno.Id">Remover</a>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>

<nav>
    <ul class="pagination">
        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                <a class="page-link" href="?page=@i">@i</a>
            </li>
        }
    </ul>
</nav>

<table id="tabela" class="table table-striped">
<script>
    $(document).ready(function () {
        $('#tabela').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.13.4/i18n/pt-BR.json"
            }
        });
    });
</script>